CHECK PROCESS pdns-auth MATCHING '/pdns_server\b'
   start program = "/bin/systemctl start pdns"
   stop program = "/bin/systemctl stop pdns"
   if failed host {{ powerdns_dns_bind_address.split(",")[0] }} port 53 type udp protocol dns for 2 cycles then restart
